@import "variables.less";
@import "fonts.less";

.bg-img(@r, @g, @b, @opacity, @src) {
    background:
        linear-gradient(rgba(@r, @g, @b, @opacity)),
        url(@src) center center no-repeat;
    background-size: cover;
}

.bg-img-icon(@src) {
    background: url(@src) center center no-repeat;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
}

.has-error {

    input {
        background-color: #e72c2c71 !important;
    }
}

.has-success {
    input {
        background-color: #4bb54354 !important;
    }
}

.wrapper {}

.container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

// Header
.header {
    padding: 1rem 0 3.5rem;
    width: 100%;
    background: @primary-light-color;
    position: fixed;
    top: 0;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
    z-index: 50;

    .header-wrapp {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin: 0 auto -4rem;
        position: relative;
        left: 2.5rem;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        ul {
            display: flex;
            flex-direction: row;

            li {
                margin: 0 3rem;
                list-style: none;

                a {
                    font-weight: 400;
                    text-decoration: none;
                    position: relative;
                    font-family: 'Open Sans Semibold';
                    color: @primary-color-text;
                    font-size: 0.875em;

                    &:hover {
                        color: @gradient;

                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -.7rem;
                            right: 50%;
                            margin-right: -1.5rem;
                            width: 3rem;
                            height: .1rem;
                            background: @gradient;
                        }
                    }
                }
            }
        }
    }
}

// Slider block
.slider {
    .bg-img(83, 99, 219, 0.8, '../../build/img/bg-slider.png');
    display: flex;
    padding-top: 8rem;

    .slider-wrapp {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8rem 0;

        .slider-form {
            margin: 0 2rem;

            .form-items {
                width: 300px;
                padding: 3rem 3rem 2.5rem 3rem;
                border-radius: 1.5rem;
                display: flex;
                flex-direction: column;
                background: @primary-light-color;

                h2 {
                    font-size: 1.625em;
                    margin-bottom: 3.1rem;
                    color: @gradient;
                    font-family: 'Open Sans Semibold';
                    font-weight: 400;
                }

                .form-item:nth-child(-n+2) {
                    margin-bottom: 17px;
                }

                .form-item:nth-child(3) {
                    margin-bottom: 32px;
                }

                .form-item {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;

                    input,
                    select {
                        border: 1px solid transparent;
                        width: 100%;
                        height: 50px;
                        background: #f2f2f2;
                        color: #888;
                        padding-left: 10px;
                        border-radius: 6px;
                    }

                    select {
                        border: 0;
                        -webkit-appearance: none;

                        option {
                            background: @bg-input;

                        }
                    }

                    ::-webkit-input-placeholder,
                    ::-moz-placeholder,
                    :-ms-input-placeholder {
                        color: @color-text-input;
                    }

                    .btn-form {
                        width: 170px;
                        height: 50px;
                        background: @primary-color;
                        border: 0;
                        border-radius: 8px;
                        align-self: flex-end;
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
                        color: @primary-light-color;
                        font-size: 1em;
                        font-family: 'Open Sans';
                        font-weight: 700;
                    }

                    .btn-form:hover {
                        background: #374cee;
                    }
                }

                .form-item:nth-child(3) {
                    border-radius: 6px;
                    background: #f2f2f2;

                    &:after {
                        display: block;
                        content: "";
                        height: 13px;
                        width: 14px;
                        background: url('../../build/img/arrow-down.png') no-repeat center;
                        position: absolute;
                        top: 20px;
                        right: 15px;
                    }
                }
            }
        }

        .slider-text {
            display: flex;
            margin-left: 9.1rem;
            flex-direction: column;

            h1 {
                font-size: 3em;
                font-weight: 700;
                line-height: 72px;
                text-transform: uppercase;
                margin-bottom: 2.7rem;
                color: @primary-light-color;
                font-family: 'Open Sans Bold';
            }

            p {
                color: @primary-light-color;
                font-size: 2.5em;
                line-height: 45px;
                margin-bottom: 0;
                font-family: 'FreestyleScript';
            }
        }
    }
}

// BLOG block
.blog {
    .blog-title {
        text-align: center;
        padding: 125px 0 76px;

        h2 {
            margin-bottom: 25px;
            line-height: 45px;
            text-transform: uppercase;
            font-size: 1.875em;
            color: @primary-color;
            font-family: "Open Sans Bold";
        }

        p {
            color: @title-color;
            font-family: 'FreestyleScript';
            font-size: 2.56em;
            font-weight: 400;
            line-height: 61.49px;
            margin-bottom: 0;
        }
    }

    .blog-program {
        padding-bottom: 12.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .article {
        width: 48.7%;
        display: inherit;
        flex-direction: inherit;
        margin-bottom: 2.5rem;
        box-shadow: .4rem .4rem 2rem rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        &:nth-last-of-type(-n+2) {
            margin-bottom: 0;
        }

        .blog-program--img {
            width: 270px;
            height: 300px;
            border-radius: 5px 0 0 5px;
        }

        .blog-program--text {
            padding: 5rem 3rem 0 3rem;
            width: 300px;
            border-radius: 0 5px 5px 0;

            h3 {
                color: #777;
                margin-bottom: 3.6rem;
                font-family: "Open Sans Bold";
                font-size: 1.25em;
                font-weight: 700;
                line-height: 45px;
                text-transform: uppercase;

                a {
                    color: inherit;
                }
            }

            p {
                margin-bottom: 2rem;
                color: @primary-color-text;
                font-family: "Open Sans Regular";
                font-size: 0.875em;
                font-weight: 400;
                line-height: 22px;
            }

            span {
                color: @color-program;
                font-family: "Open Sans Regular";
                font-size: 0.875em;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }
}

// Gallery block

.gallery {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        width: 450px;
        position: relative;
        list-style: none;

        img {
            width: 100%;
            height: auto;
        }

        a {
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            .bg-img(91, 108, 235, .8, '');
            position: absolute;
            top: 0;
            left: 0;

            &:after {
                content: '';
                width: 57px;
                height: 57px;
                border-radius: 50%;
                display: block;
                background: url(../../build/img/icon-search.png) center center no-repeat;
                background-color: @primary-light-color;
            }
        }

        &:hover {
            a {
                display: flex;
            }
        }
    }
}

// about-us block
.about-us {
    padding: 125px 0;

    .about-us-wrapp {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .about-us--text {
        color: @primary-color-text;
        font-family: "Open Sans Regular";
        font-size: 0.875em;
        font-weight: 400;
        line-height: 22px;
        padding-top: 2.5rem;
        max-width: 458px;
        width: 100%;

        h2 {
            color: @primary-color;
            font-family: "Open Sans Bold";
            font-size: 1.875em;
            line-height: 45px;
            text-transform: uppercase;
            margin-bottom: 30px;

            a {
                color: inherit;
            }
        }
    }

    .carousel-about-us {
        max-width: 570px;
        width: 100%;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 8px;

        img {
            border-radius: 5px;
            width: 100%;
            margin: 0 auto;
        }

        .slick-arrow {
            margin-top: -15px;

            &:before {
                content: '';
                width: 50px;
                height: 50px;
                display: block;
                border-radius: 50%;
                opacity: 1;
            }
        }

        .slick-prev {
            left: -25px;
            z-index: 20;

            &:before {
                background: url('../../build/img/prev-icon.png') center no-repeat;
                width: 50px;
                height: 50px;
                box-shadow: -2px 10px 15px rgba(0, 0, 0, 0.1);
                background-color: @primary-light-color;
            }
        }

        .slick-next {
            right: 3px;

            &:before {
                background: url('../../build/img/next-icon.png') center no-repeat;
                width: 50px;
                height: 50px;
                box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
                background-color: @primary-light-color;
            }
        }
    }
}

.elements {
    color: @primary-light-color;
    padding: 12.5rem 0 13rem;
    .bg-img(84, 101, 228, .8, '../../build/img/elements-bg.png');

    .elements-wrapp {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                width: 25%;
                padding: .5rem;
                text-align: center;
                margin-bottom: 6rem;
                list-style: none;

                h3 {
                    color: @primary-light-color;
                    font-family: "Open Sans Bold";
                    font-size: 1.125em;
                    line-height: 27px;
                    text-transform: uppercase;
                    margin-bottom: 2.5rem;
                }

                p {
                    color: @primary-light-color;
                    font-family: "Open Sans Regular";
                    font-size: 1em;
                    font-weight: 400;
                    line-height: 27px;
                }

                &:before {
                    content: '';
                    width: 70px;
                    height: 70px;
                    display: block;
                    margin: 0 auto 3.4rem;
                    border: 2px solid #f8f9fd;
                    border-radius: 50%;
                }

                &:nth-child(1) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon1.png');
                    }
                }

                &:nth-child(2) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon2.png');
                    }
                }

                &:nth-child(3) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon3.png');
                    }
                }

                &:nth-child(4) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon4.png');
                    }
                }

                &:nth-child(5) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon5.png');
                        margin-bottom: 6rem;
                    }
                }

                &:nth-child(6) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon6.png');
                    }
                }

                &:nth-child(7) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon7.png');
                    }
                }

                &:nth-child(8) {
                    &:before {
                        .bg-img-icon('../../build/img/elements-icon8.png');
                    }
                }
            }
        }
    }
}

// Price Block

.price {
    padding: 10rem 0 5.5rem;
    background: url(../../build/img/decor.png) right bottom no-repeat;

    .price-wrapp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
            text-align: center;
            width: 370px;
            padding-bottom: 15rem;
            position: relative;
            box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: @primary-light-color;

            li {
                font-size: 1.125em;
                text-transform: uppercase;
                margin-bottom: 51px;
                list-style: none;
                color: #555;
                font-family: "Open Sans Regular";

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(n+2) {
                    position: relative;

                    &:before {
                        content: '';
                        width: 99px;
                        height: 1px;
                        display: block;
                        background: @decor-color;
                        position: absolute;
                        bottom: -25px;
                        left: 50%;
                        margin-left: -42px;
                    }
                }

                &:last-child {
                    &:before {
                        display: none;
                    }
                }
            }

            .price-box {
                padding: 50px 0;
                border-radius: 6px 6px 0 0;

                span {
                    font-weight: 600;

                    &:nth-of-type(1) {
                        font-size: 2em;
                        position: relative;
                        top: -14px;
                        left: -20px;
                        font-family: "Open Sans Bold"
                    }

                    &:nth-of-type(2) {
                        font-size: 4.1875em;
                        font-family: "Open Sans Bold"
                    }

                    &:nth-of-type(3) {
                        font-size: 1.125em;
                        font-family: "Open Sans Bold"
                    }
                }
            }

            a {
                text-decoration: none;
                text-transform: none;
                padding: 1.7rem 4.8rem 1.6rem;
                display: inline-block;
                border-radius: 23px;
                position: absolute;
                bottom: 52px;
                left: 50%;
                margin-left: -7.8rem;
            }

            a,
            .price-box {
                color: #fff;
                background: @primary-color;
            }

            a:hover,
            a:hover~.price-box {
                background: darken(@primary-color, 15%);
            }
        }
    }
}


// Blockquote block

.blocquote {
    padding: 2rem 0 20rem;

    .blocquote-carousel {
        max-width: 1298px;
        width: 100%;
        margin: auto;

        .fade {

            //slider-dots
            &>.slick-dots {
                width: inherit;
                top: 75px;
                left: inherit;
                right: 0;

                li {
                    border: 2px solid @decor-color;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    margin-bottom: 1.8rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                button {
                    width: 0;
                    height: 0;
                    border-radius: inherit;
                }

                button:before {
                    display: none;
                }

                .slick-active {
                    border: 2px solid @primary-color;

                    button {
                        width: 10px;
                        height: 10px;
                        background: @primary-color;
                    }
                }
            }

            &>.slick-arrow {
                display: none !important;
            }

            .slick-list {
                padding-top: 3rem;
                padding-bottom: 3.6rem;
            }
        }

        .fade-2 {
            margin: 0;
            background: @primary-light-color;
            box-shadow: 6px 3px 10px 7px rgba(219, 219, 219, 0.6);

            .block-quote {
                display: flex;
                flex-direction: row;
                padding: 2rem 0 3.4rem 7.5rem;
            }

            .portrait {
                width: 125px;
                height: 125px;
                margin-right: 5rem;
                border-radius: 50%;
                box-shadow: 0 0 0 10px @primary-light-color, 0 0 0 12px @decor-color;

                img {
                    border-radius: 50%;
                }
            }

            .blocquote-text {
                position: relative;

                &:before {
                    content: '';
                    width: 2px;
                    height: 75px;
                    display: block;
                    background: @decor-color;
                    position: absolute;
                    top: 50px;
                    left: 7px;
                }
            }

            blockquote {
                width: 650px;
                margin: 0;
                margin-bottom: 1.2rem;
                padding: 0 7.7rem 1rem 5rem;
                position: relative;
                color: @primary-color-text;
                font-family: "Open Sans Italic";
                font-size: .875em;
                font-style: italic;
                line-height: 22px;

                &:before,
                &:after {
                    content: '';
                    width: 21px;
                    height: 15px;
                    display: block;
                    position: absolute;
                }

                &:before {
                    top: 0;
                    left: 0;
                    background: url(../../build/img/quote1.png);
                }

                &:after {
                    right: 35px;
                    bottom: -35px;
                    background: url(../../build/img/quote2.png);
                }

                p {
                    margin-bottom: 0;
                }
            }

            .positon {
                padding-left: 5rem;

                span {
                    color: @title-color;
                    font-family: "Open Sans Regular";
                    font-size: .875em;
                    font-weight: 400;
                }

                a {
                    color: @primary-color;
                    font-family: "Open Sans Bold";
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 22px;
                }
            }

            .slick-arrow {
                width: 39px;
                height: 39px;
                border-radius: 50%;
                box-shadow: 7px 7px 14px 5px rgba(219, 219, 219, .6);
                top: inherit;
                bottom: -38px;
                z-index: 100;

                &:before {
                    display: none;
                }
            }

            .slick-prev {
                left: 298px;
                background: url(../../build/img/prev-icon.png) center center no-repeat;
                background-color: @primary-light-color;
                z-index: 20;
            }

            .slick-next {
                right: inherit;
                left: 548px;
                background: url(../../build/img/next-icon.png) center center no-repeat;
                background-color: @primary-light-color;
            }

            .slick-dots {
                width: inherit;
                left: 356px;
                bottom: -37px;

                button {
                    display: none;
                }

                li {
                    width: 62px;
                    height: 62px;
                    box-shadow: 0 0 0 3px @primary-light-color, 0 0 0 5px @decor-color;
                    border-radius: 50%;
                    position: relative;

                    &:before {
                        display: inline;
                        font-weight: 600;
                        position: absolute;
                    }

                    &:after {
                        font-size: 12px;
                        display: inline;
                        position: absolute;
                        right: -59px;
                    }
                }

                li:nth-child(1) {
                    background: url('../../build/img/image-photo-main.png');
                    background-size: contain;

                    &:before {
                        content: 'Laura Shepard';
                        top: 4px;
                        right: -117px;
                        font-family: "Open Sans Bold";
                        font-size: 0.875em;
                    }

                    &:after {
                        content: "Trainer";
                        top: 34px;
                        color: @title-color;
                        font-family: "Open Sans Regular";
                        font-size: .75em;
                        font-weight: 400;
                    }
                }

                li:nth-child(2) {
                    background: url('../../build/img/image-photo.png');

                    &:before {
                        content: 'Sara Taylor';
                        top: 4px;
                        right: -95px;
                        font-family: "Open Sans Bold";
                        font-size: 0.875em;
                    }

                    &:after {
                        content: "Trainer";
                        top: 34px;
                        color: @title-color;
                        font-family: "Open Sans Regular";
                        font-size: .75em;
                        font-weight: 400;
                    }
                }

                .slick-active {
                    display: none;
                }
            }
        }
    }
}


// Footer

footer {
    .contact {
        color: @primary-light-color;
        padding: 10rem 0;
        background: @primary-color;

        .block-contact {
            display: flex;
            justify-content: space-between;

            h3 {
                color: @primary-light-color;
                font-family: "Open Sans Bold";
                font-size: 1.125em;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 5rem;
            }

            .about {
                width: 460px;

                .social {
                    display: flex;
                    flex-direction: row;

                    li {
                        margin-right: 19px;
                        list-style: none;
                        margin: 0 1rem;

                        a {
                            display: block;
                            height: 21px;

                        }
                    }
                }

                p {
                    color: @primary-light-color;
                    font-family: "Open Sans Regular";
                    font-size: .875em;
                    font-weight: 400;
                    line-height: 22px;
                    margin-bottom: 7.1rem;
                }
            }

            .contact-us {
                width: 460px;

                .contact-us-wrapp {
                    display: flex;
                    flex-direction: row;

                    .address-info {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        address {
                            margin-left: 1rem;
                            font-style: normal;
                            color: @primary-light-color;
                            font-family: 'Open Sans Regular';
                            font-size: 0.875em;
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 21px;
                            height: 21px;
                            background: url('../../build/img/marker-icon.png') no-repeat;

                        }
                    }

                    .phone-info {
                        display: flex;
                        align-items: center;
                        margin-top: 5rem;

                        ul {
                            li {
                                margin-left: 1rem;
                                color: @primary-light-color;
                                font-family: 'Open Sans Regular';
                                font-size: 0.875em;
                                list-style: none;
                            }
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 21px;
                            height: 21px;
                            background: url('../../build/img/phone-icon.png') no-repeat;

                        }
                    }

                    .post-info {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a {
                            margin-left: 1rem;
                            color: @primary-light-color;
                            font-family: 'Open Sans Regular';
                            font-size: 0.875em;
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 21px;
                            height: 21px;
                            background: url('../../build/img/post-icon.png') center center no-repeat;

                        }
                    }

                    .web-site-info {
                        margin-top: 7.5rem;
                        display: flex;
                        align-items: center;

                        a {
                            margin-left: 1rem;
                            color: @primary-light-color;
                            font-family: 'Open Sans Regular';
                            font-size: 0.875em;
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 21px;
                            height: 21px;
                            background: url('../../build/img/site-icon.png') no-repeat;

                        }
                    }

                    .contact-us--ml {
                        margin-left: 11.6rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }

    .copyright {
        text-align: center;
        padding: 4.4rem 0;
        background: @bg-copyright-block;

        small {
            color: @copyright-text;
            font-family: "Open Sans Regular";
            font-size: 1em;
            font-weight: 400;
            line-height: 22px;
        }
    }
}