@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../../fonts/MyriadPro-Regular.eot');
  src: url('../../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/MyriadPro-Regular.woff') format('woff'), url('../../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FreestyleScript';
  src: url('../../fonts/FreestyleScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChampagneLimousines';
  src: url('../../fonts/ChampagneLimousinesBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../../fonts/OpenSans-SemiBold.eot');
  src: url('../../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-SemiBold.woff') format('woff'), url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../../fonts/OpenSans-Regular.eot');
  src: url('../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Regular.woff') format('woff'), url('../../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url('../../fonts/OpenSans-Italic.eot');
  src: url('../../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Italic.woff') format('woff'), url('../../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../../fonts/OpenSans-Bold.eot');
  src: url('../../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Bold.woff') format('woff'), url('../../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}
html {
  font-size: 10px;
}
body {
  font-size: 16px;
}
.has-error input {
  background-color: #e72c2c71 !important;
}
.has-success input {
  background-color: #4bb54354 !important;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
.header {
  padding: 1rem 0 3.5rem;
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  z-index: 50;
}
.header .header-wrapp {
  display: flex;
  flex-direction: column;
}
.header .logo {
  margin: 0 auto -4rem;
  position: relative;
  left: 2.5rem;
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header .nav ul {
  display: flex;
  flex-direction: row;
}
.header .nav ul li {
  margin: 0 3rem;
  list-style: none;
}
.header .nav ul li a {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  font-family: 'Open Sans Semibold';
  color: #555555;
  font-size: 0.875em;
}
.header .nav ul li a:hover {
  color: #5363db;
}
.header .nav ul li a:hover:before {
  content: '';
  position: absolute;
  bottom: -0.7rem;
  right: 50%;
  margin-right: -1.5rem;
  width: 3rem;
  height: .1rem;
  background: #5363db;
}
.slider {
  background: linear-gradient(rgba(83, 99, 219, 0.8)), url('../../build/img/bg-slider.png') center center no-repeat;
  background-size: cover;
  display: flex;
  padding-top: 8rem;
}
.slider .slider-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}
.slider .slider-wrapp .slider-form {
  margin: 0 2rem;
}
.slider .slider-wrapp .slider-form .form-items {
  width: 300px;
  padding: 3rem 3rem 2.5rem 3rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.slider .slider-wrapp .slider-form .form-items h2 {
  font-size: 1.625em;
  margin-bottom: 3.1rem;
  color: #5363db;
  font-family: 'Open Sans Semibold';
  font-weight: 400;
}
.slider .slider-wrapp .slider-form .form-items .form-item:nth-child(-n+2) {
  margin-bottom: 17px;
}
.slider .slider-wrapp .slider-form .form-items .form-item:nth-child(3) {
  margin-bottom: 32px;
}
.slider .slider-wrapp .slider-form .form-items .form-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.slider .slider-wrapp .slider-form .form-items .form-item input,
.slider .slider-wrapp .slider-form .form-items .form-item select {
  border: 1px solid transparent;
  width: 100%;
  height: 50px;
  background: #f2f2f2;
  color: #888;
  padding-left: 10px;
  border-radius: 6px;
}
.slider .slider-wrapp .slider-form .form-items .form-item select {
  border: 0;
  -webkit-appearance: none;
}
.slider .slider-wrapp .slider-form .form-items .form-item select option {
  background: #f2f2f2;
}
.slider .slider-wrapp .slider-form .form-items .form-item ::-webkit-input-placeholder,
.slider .slider-wrapp .slider-form .form-items .form-item ::-moz-placeholder,
.slider .slider-wrapp .slider-form .form-items .form-item :-ms-input-placeholder {
  color: #888888;
}
.slider .slider-wrapp .slider-form .form-items .form-item .btn-form {
  width: 170px;
  height: 50px;
  background: #5b6ceb;
  border: 0;
  border-radius: 8px;
  align-self: flex-end;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 1em;
  font-family: 'Open Sans';
  font-weight: 700;
}
.slider .slider-wrapp .slider-form .form-items .form-item .btn-form:hover {
  background: #374cee;
}
.slider .slider-wrapp .slider-form .form-items .form-item:nth-child(3) {
  border-radius: 6px;
  background: #f2f2f2;
}
.slider .slider-wrapp .slider-form .form-items .form-item:nth-child(3):after {
  display: block;
  content: "";
  height: 13px;
  width: 14px;
  background: url('../../build/img/arrow-down.png') no-repeat center;
  position: absolute;
  top: 20px;
  right: 15px;
}
.slider .slider-wrapp .slider-text {
  display: flex;
  margin-left: 9.1rem;
  flex-direction: column;
}
.slider .slider-wrapp .slider-text h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  margin-bottom: 2.7rem;
  color: #ffffff;
  font-family: 'Open Sans Bold';
}
.slider .slider-wrapp .slider-text p {
  color: #ffffff;
  font-size: 2.5em;
  line-height: 45px;
  margin-bottom: 0;
  font-family: 'FreestyleScript';
}
.blog .blog-title {
  text-align: center;
  padding: 125px 0 76px;
}
.blog .blog-title h2 {
  margin-bottom: 25px;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 1.875em;
  color: #5b6ceb;
  font-family: "Open Sans Bold";
}
.blog .blog-title p {
  color: #777777;
  font-family: 'FreestyleScript';
  font-size: 2.56em;
  font-weight: 400;
  line-height: 61.49px;
  margin-bottom: 0;
}
.blog .blog-program {
  padding-bottom: 12.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog .article {
  width: 48.7%;
  display: inherit;
  flex-direction: inherit;
  margin-bottom: 2.5rem;
  box-shadow: 0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.blog .article:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}
.blog .article .blog-program--img {
  width: 270px;
  height: 300px;
  border-radius: 5px 0 0 5px;
}
.blog .article .blog-program--text {
  padding: 5rem 3rem 0 3rem;
  width: 300px;
  border-radius: 0 5px 5px 0;
}
.blog .article .blog-program--text h3 {
  color: #777;
  margin-bottom: 3.6rem;
  font-family: "Open Sans Bold";
  font-size: 1.25em;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}
.blog .article .blog-program--text h3 a {
  color: inherit;
}
.blog .article .blog-program--text p {
  margin-bottom: 2rem;
  color: #555555;
  font-family: "Open Sans Regular";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 22px;
}
.blog .article .blog-program--text span {
  color: #999999;
  font-family: "Open Sans Regular";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 22px;
}
.gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery li {
  width: 450px;
  position: relative;
  list-style: none;
}
.gallery li img {
  width: 100%;
  height: auto;
}
.gallery li a {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(91, 108, 235, 0.8)), url('') center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.gallery li a:after {
  content: '';
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: block;
  background: url(../../build/img/icon-search.png) center center no-repeat;
  background-color: #ffffff;
}
.gallery li:hover a {
  display: flex;
}
.about-us {
  padding: 125px 0;
}
.about-us .about-us-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-us .about-us--text {
  color: #555555;
  font-family: "Open Sans Regular";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 22px;
  padding-top: 2.5rem;
  max-width: 458px;
  width: 100%;
}
.about-us .about-us--text h2 {
  color: #5b6ceb;
  font-family: "Open Sans Bold";
  font-size: 1.875em;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about-us .about-us--text h2 a {
  color: inherit;
}
.about-us .carousel-about-us {
  max-width: 570px;
  width: 100%;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.about-us .carousel-about-us img {
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}
.about-us .carousel-about-us .slick-arrow {
  margin-top: -15px;
}
.about-us .carousel-about-us .slick-arrow:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  opacity: 1;
}
.about-us .carousel-about-us .slick-prev {
  left: -25px;
  z-index: 20;
}
.about-us .carousel-about-us .slick-prev:before {
  background: url('../../build/img/prev-icon.png') center no-repeat;
  width: 50px;
  height: 50px;
  box-shadow: -2px 10px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.about-us .carousel-about-us .slick-next {
  right: 3px;
}
.about-us .carousel-about-us .slick-next:before {
  background: url('../../build/img/next-icon.png') center no-repeat;
  width: 50px;
  height: 50px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.elements {
  color: #ffffff;
  padding: 12.5rem 0 13rem;
  background: linear-gradient(rgba(84, 101, 228, 0.8)), url('../../build/img/elements-bg.png') center center no-repeat;
  background-size: cover;
}
.elements .elements-wrapp ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.elements .elements-wrapp ul li {
  width: 25%;
  padding: .5rem;
  text-align: center;
  margin-bottom: 6rem;
  list-style: none;
}
.elements .elements-wrapp ul li h3 {
  color: #ffffff;
  font-family: "Open Sans Bold";
  font-size: 1.125em;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.elements .elements-wrapp ul li p {
  color: #ffffff;
  font-family: "Open Sans Regular";
  font-size: 1em;
  font-weight: 400;
  line-height: 27px;
}
.elements .elements-wrapp ul li:before {
  content: '';
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto 3.4rem;
  border: 2px solid #f8f9fd;
  border-radius: 50%;
}
.elements .elements-wrapp ul li:nth-child(1):before {
  background: url('../../build/img/elements-icon1.png') center center no-repeat;
}
.elements .elements-wrapp ul li:nth-child(2):before {
  background: url('../../build/img/elements-icon2.png') center center no-repeat;
}
.elements .elements-wrapp ul li:nth-child(3):before {
  background: url('../../build/img/elements-icon3.png') center center no-repeat;
}
.elements .elements-wrapp ul li:nth-child(4):before {
  background: url('../../build/img/elements-icon4.png') center center no-repeat;
}
.elements .elements-wrapp ul li:nth-child(5):before {
  background: url('../../build/img/elements-icon5.png') center center no-repeat;
  margin-bottom: 6rem;
}
.elements .elements-wrapp ul li:nth-child(6):before {
  background: url('../../build/img/elements-icon6.png') center center no-repeat;
}
.elements .elements-wrapp ul li:nth-child(7):before {
  background: url('../../build/img/elements-icon7.png') center center no-repeat;
}
.elements .elements-wrapp ul li:nth-child(8):before {
  background: url('../../build/img/elements-icon8.png') center center no-repeat;
}
.price {
  padding: 10rem 0 5.5rem;
}
.price .price-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price .price-wrapp ul {
  text-align: center;
  width: 370px;
  padding-bottom: 15rem;
  position: relative;
  box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.price .price-wrapp ul li {
  font-size: 1.125em;
  text-transform: uppercase;
  margin-bottom: 51px;
  list-style: none;
  color: #555;
  font-family: "Open Sans Regular";
}
.price .price-wrapp ul li:last-child {
  margin-bottom: 0;
}
.price .price-wrapp ul li:nth-child(n+2) {
  position: relative;
}
.price .price-wrapp ul li:nth-child(n+2):before {
  content: '';
  width: 99px;
  height: 1px;
  display: block;
  background: #d7d7d7;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -42px;
}
.price .price-wrapp ul li:last-child:before {
  display: none;
}
.price .price-wrapp ul .price-box {
  padding: 50px 0;
  border-radius: 6px 6px 0 0;
}
.price .price-wrapp ul .price-box span {
  font-weight: 600;
}
.price .price-wrapp ul .price-box span:nth-of-type(1) {
  font-size: 2em;
  position: relative;
  top: -14px;
  left: -20px;
  font-family: "Open Sans Bold";
}
.price .price-wrapp ul .price-box span:nth-of-type(2) {
  font-size: 4.1875em;
  font-family: "Open Sans Bold";
}
.price .price-wrapp ul .price-box span:nth-of-type(3) {
  font-size: 1.125em;
  font-family: "Open Sans Bold";
}
.price .price-wrapp ul a {
  text-decoration: none;
  text-transform: none;
  padding: 1.7rem 4.8rem 1.6rem;
  display: inline-block;
  border-radius: 23px;
  position: absolute;
  bottom: 52px;
  left: 50%;
  margin-left: -7.8rem;
}
.price .price-wrapp ul a,
.price .price-wrapp ul .price-box {
  color: #fff;
  background: #5b6ceb;
}
.price .price-wrapp ul a:hover,
.price .price-wrapp ul a:hover ~ .price-box {
  background: #1b32de;
}
