
@media screen and (max-width: 1200px) {
    .blog {
        .article {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 5px;
            }

            .blog-program--text {
                box-shadow: none;
                padding: 3rem 0 2rem 3rem;
            }
        }
    }

    .about-us {
        .about-us-wrapp {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .about-us--text {
            text-align: center;
            margin: -4rem 0 3rem;
        }
    }

    .elements {
        padding-bottom: 5rem;

        .elements-wrapp {
            ul {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                li {
                    width: 25%;
                }
            }
        }
    }

    .price {
        .price-wrapp {
            justify-content: space-around;
            flex-wrap: wrap;
            ul {
                width: 40%;
                &:nth-of-type(-n+2) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .blocquote{
        .blocquote-carousel {
            .fade {
                & > .slick-dots {
                    right: 10px;
                }
            }
            .fade-2 {
                .block-quote {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 5rem 7.5rem 7.5rem;
                }
                .portrait {
                    margin-right: 0;
                    margin-bottom: 2.5rem;
                }
                blockquote {
                    margin-right: 0;
                }
                .positon {
                    padding: 0;
                    text-align: center;
                }
                .slick-prev {
                    left: 35%;
                    margin-left: -5px;
                }
                .slick-next {
                    left: inherit;
                    right: 35%;
                    margin-right: -5px;
                }
                .slick-dots {
                    left: 50%;
                    margin-left: -95px;
                }
            }
        }
    }

    .contact {
        .block-contact {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact-us {
                margin-top: 7rem;
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    .elements {
        .elements-wrapp {
            ul {
                display: flex;
                justify-content: space-between;

                li {
                    width: 20%;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact {
        .about {
            h3 {
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        .nav {
            ul {
                li {
                    margin: 0 2.5rem;
                }
            }
        }
    }

    .slider {
        .slider-wrapp {
            .slider-text {
                margin-left: 3.5rem;

                h1 {
                    font-size: 2.5em;
                }

                p {
                    font-size: 2em;
                }
            }
        }
    }

    .gallery {
        li {
            margin: 0 2rem 1rem;
            display: flex;
        }
    }
}



@media screen and (max-width: 900px) {
    .header {
        .nav {
            ul {
                li {
                    margin: 0 1.5rem;
                }
            }
        }
    }

    .slider {
        .slider-wrapp {
            flex-direction: column-reverse;
            padding: 4rem 0;

            .slider-text {
                padding-bottom: 4rem;

                h1,
                p {
                    text-align: center;
                }
            }
        }
    }

    .blocquote{
        .blocquote-carousel {
            .fade {
                .blocquote-carousel-block {
                    .fade-2 {
                        .slick-prev {
                            left: 30%;
                            margin-left: -5px;
                        }
                        .slick-next {
                            left: inherit;
                            right: 35%;
                            margin-right: -5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px){
    .blocquote {
        .blocquote-carousel {
            .fade {
                .blocquote-carousel-block {
                    .fade-2 {
                        .block-quote {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 5rem 0 7.5rem;
                            .portrait {
                                margin-bottom: 2rem;
                            }
                        }
                        blockquote {
                            width: 60%;
                            margin: 0 auto 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .header {
            .header-wrapp {
                .menu-mobile {
                    display: block;
                    margin-left: 2rem;
                    background: transparent;
                    border: none;
                }

                .nav {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    ul {
                        display: none;
                        text-align: center;
                        margin: 0;
                    }

                    ul:nth-of-type(1) {
                        padding-top: 3.5rem;
                    }

                    li {
                        text-align: left;
                        margin: 0 2rem 2rem;
                    }
                }
            }
        }

        .blog {
            .article {
                .blog-program--text {
                    width: 260px;
                    padding: 5rem 1rem 0;
                }
            }

            .blog-title {
                padding: 3rem 0;
            }

            .blog-program {
                padding-bottom: 3rem;

            }

        }

        .about-us {
            padding: 3rem 0;
        }

        .elements {
            .elements-wrapp {
                ul {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;

                    li {
                        width: 40%;
                    }
                }
            }
        }

        .price {
            .price-wrapp {
                justify-content: space-around;
                flex-wrap: wrap;

                ul {
                    width: 70%;
                    margin-bottom: 1.5rem;
                    margin: 1rem 0;
                }

                ul:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .about-us {
        .carousel-about-us {
            .slick-prev {
                left: 4px;
            }

            .slick-next {
                right: 32px;
            }
        }
    }

    .blocquote{
        padding: 2rem 0 4rem;
        .blocquote-carousel {
            .fade {
                .blocquote-carousel-block {
                    .fade-2 {
                        .block-quote {
                            blockquote {
                                padding: 0 3rem 5rem;
                            }
                        }
                        .slick-prev {
                            left: 5%;
                            margin-left: -5px;
                        }
                        .slick-next {
                            left: inherit;
                            right: 10%;
                            margin-right: -5px;
                        }
                    }
                }
            }
        }
    }

    .contact {
        .block-contact {
            .contact-us {
                 margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .blog {
        .blog-program {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .article {
                margin-bottom: 2rem;

                .blog-program--text {
                    padding: 2rem .5rem 3.5rem 1.5rem;

                }
            }

            .article:last-child {
                margin: 0;
            }
        }
    }


    footer  {
        .contact {
            .block-contact {
                text-align: center;
                .about {
                    width: 85%;
                    ul {
                        justify-content: center;
                    }
                }
                .contact-us {
                    width: 85%;
                   
                    .contact-us-wrapp {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                       
                        .contact-up--box {
                            display: flex;
                            flex-direction: column;

                            .web-site-info {
                                margin-top: 5rem;
                            }
                        }
                        .contact-us--ml {
                            margin-left: 0;
                            margin-top: 5rem;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .slider {
        .slider-wrapp {
            .slider-form {
                .form-items {
                    width: 255px;
                    padding: 1.5rem 1.5rem 1rem;
                }
            }
            .slider-text {
                margin-left: 0;

                h1 {
                    font-size: 1.8em;
                    line-height: 56px;
                }

                p {
                    font-size: 1.7em;
                }
            }
        }
    }


}


@media screen and (max-width: 520px) {
    .blog {
        .article {
            min-width: 84.5%;
        }
    }
}


@media screen and (max-width: 480px) {
    body {
        .elements {
            .elements-wrapp {
                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        width: 80% !important;
                    }
                }
            }
        }

        .price {
            .price-wrapp {
                ul {
                    width: 95%;
                    margin: 2rem 0px;
                }
            }
        }
    }

}