@media screen and (max-width: 1200px) {
  .blog .article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog .article img {
    border-radius: 5px;
  }
  .blog .article .blog-program--text {
    box-shadow: none;
    padding: 3rem 0 2rem 3rem;
  }
  .about-us .about-us-wrapp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .about-us--text {
    text-align: center;
    margin: -4rem 0 3rem;
  }
  .elements {
    padding-bottom: 5rem;
  }
  .elements .elements-wrapp ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .elements .elements-wrapp ul li {
    width: 25%;
  }
  .price .price-wrapp {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .price .price-wrapp ul {
    width: 40%;
  }
  .price .price-wrapp ul:nth-of-type(-n+2) {
    margin-bottom: 15px;
  }
  .blocquote .blocquote-carousel .fade > .slick-dots {
    right: 10px;
  }
  .blocquote .blocquote-carousel .fade-2 .block-quote {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 7.5rem 7.5rem;
  }
  .blocquote .blocquote-carousel .fade-2 .portrait {
    margin-right: 0;
    margin-bottom: 2.5rem;
  }
  .blocquote .blocquote-carousel .fade-2 blockquote {
    margin-right: 0;
  }
  .blocquote .blocquote-carousel .fade-2 .positon {
    padding: 0;
    text-align: center;
  }
  .blocquote .blocquote-carousel .fade-2 .slick-prev {
    left: 35%;
    margin-left: -5px;
  }
  .blocquote .blocquote-carousel .fade-2 .slick-next {
    left: inherit;
    right: 35%;
    margin-right: -5px;
  }
  .blocquote .blocquote-carousel .fade-2 .slick-dots {
    left: 50%;
    margin-left: -95px;
  }
  .contact .block-contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .block-contact .contact-us {
    margin-top: 7rem;
  }
}
@media screen and (min-width: 1200px) {
  .elements .elements-wrapp ul {
    display: flex;
    justify-content: space-between;
  }
  .elements .elements-wrapp ul li {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .contact .about h3 {
    margin-bottom: 30px;
  }
  .contact .about p {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .header .nav ul li {
    margin: 0 2.5rem;
  }
  .slider .slider-wrapp .slider-text {
    margin-left: 3.5rem;
  }
  .slider .slider-wrapp .slider-text h1 {
    font-size: 2.5em;
  }
  .slider .slider-wrapp .slider-text p {
    font-size: 2em;
  }
  .gallery li {
    margin: 0 2rem 1rem;
    display: flex;
  }
}
@media screen and (max-width: 900px) {
  .header .nav ul li {
    margin: 0 1.5rem;
  }
  .slider .slider-wrapp {
    flex-direction: column-reverse;
    padding: 4rem 0;
  }
  .slider .slider-wrapp .slider-text {
    padding-bottom: 4rem;
  }
  .slider .slider-wrapp .slider-text h1,
  .slider .slider-wrapp .slider-text p {
    text-align: center;
  }
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 .slick-prev {
    left: 30%;
    margin-left: -5px;
  }
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 .slick-next {
    left: inherit;
    right: 35%;
    margin-right: -5px;
  }
}
@media screen and (max-width: 850px) {
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 .block-quote {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 7.5rem;
  }
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 .block-quote .portrait {
    margin-bottom: 2rem;
  }
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 blockquote {
    width: 60%;
    margin: 0 auto 2rem;
  }
}
@media screen and (max-width: 768px) {
  body .header .header-wrapp .menu-mobile {
    display: block;
    margin-left: 2rem;
    background: transparent;
    border: none;
  }
  body .header .header-wrapp .nav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  body .header .header-wrapp .nav ul {
    display: none;
    text-align: center;
    margin: 0;
  }
  body .header .header-wrapp .nav ul:nth-of-type(1) {
    padding-top: 3.5rem;
  }
  body .header .header-wrapp .nav li {
    text-align: left;
    margin: 0 2rem 2rem;
  }
  body .blog .article .blog-program--text {
    width: 260px;
    padding: 5rem 1rem 0;
  }
  body .blog .blog-title {
    padding: 3rem 0;
  }
  body .blog .blog-program {
    padding-bottom: 3rem;
  }
  body .about-us {
    padding: 3rem 0;
  }
  body .elements .elements-wrapp ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  body .elements .elements-wrapp ul li {
    width: 40%;
  }
  body .price .price-wrapp {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  body .price .price-wrapp ul {
    width: 70%;
    margin-bottom: 1.5rem;
    margin: 1rem 0;
  }
  body .price .price-wrapp ul:last-child {
    margin-bottom: 0;
  }
  .about-us .carousel-about-us .slick-prev {
    left: 4px;
  }
  .about-us .carousel-about-us .slick-next {
    right: 32px;
  }
  .blocquote {
    padding: 2rem 0 4rem;
  }
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 .block-quote blockquote {
    padding: 0 3rem 5rem;
  }
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 .slick-prev {
    left: 5%;
    margin-left: -5px;
  }
  .blocquote .blocquote-carousel .fade .blocquote-carousel-block .fade-2 .slick-next {
    left: inherit;
    right: 10%;
    margin-right: -5px;
  }
  .contact .block-contact .contact-us {
    margin-left: 0;
  }
}
@media screen and (max-width: 650px) {
  .blog .blog-program {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog .blog-program .article {
    margin-bottom: 2rem;
  }
  .blog .blog-program .article .blog-program--text {
    padding: 2rem .5rem 3.5rem 1.5rem;
  }
  .blog .blog-program .article:last-child {
    margin: 0;
  }
  footer .contact .block-contact {
    text-align: center;
  }
  footer .contact .block-contact .about {
    width: 85%;
  }
  footer .contact .block-contact .about ul {
    justify-content: center;
  }
  footer .contact .block-contact .contact-us {
    width: 85%;
  }
  footer .contact .block-contact .contact-us .contact-us-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .contact .block-contact .contact-us .contact-us-wrapp .contact-up--box {
    display: flex;
    flex-direction: column;
  }
  footer .contact .block-contact .contact-us .contact-us-wrapp .contact-up--box .web-site-info {
    margin-top: 5rem;
  }
  footer .contact .block-contact .contact-us .contact-us-wrapp .contact-us--ml {
    margin-left: 0;
    margin-top: 5rem;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .slider .slider-wrapp .slider-form .form-items {
    width: 255px;
    padding: 1.5rem 1.5rem 1rem;
  }
  .slider .slider-wrapp .slider-text {
    margin-left: 0;
  }
  .slider .slider-wrapp .slider-text h1 {
    font-size: 1.8em;
    line-height: 56px;
  }
  .slider .slider-wrapp .slider-text p {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 520px) {
  .blog .article {
    min-width: 84.5%;
  }
}
@media screen and (max-width: 480px) {
  body .elements .elements-wrapp ul {
    display: flex;
    justify-content: center;
  }
  body .elements .elements-wrapp ul li {
    width: 80% !important;
  }
  body .price .price-wrapp ul {
    width: 95%;
    margin: 2rem 0px;
  }
}
